<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.op.ac.nz.nationalflowertraders">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.PlantDetail"></activity>
        <activity android:name=".Activity.IndianRoseDetail" />
        <activity android:name=".Activity.FlowerDetail" />
        <activity android:name=".ShowIndianRoses" />
        <activity android:name=".ShowPlant" />
        <activity android:name=".Activity.MainFlowerShowActivity" />
        <activity android:name=".ShowList" />
        <activity android:name=".Activity.ListItem" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>